<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ratta.mapper.CommentMapper">

    <resultMap id="sqlSelectBase" type="CommentDO">
        <id property="id" column="id"></id>
        <result property="seq" column="seq"></result>
        <result property="blogId" column="blog_id"></result>
        <result property="userName" column="user_name"></result>
        <result property="content" column="content"></result>
        <result property="audit" column="audit"></result>
        <result property="roofPlacement" column="roof_placement"></result>
        <result property="createTime" column="create_time"></result>
        <result property="updateTime" column="update_time"></result>
        <result property="title" column="title"></result>
    </resultMap>

    <!--  根据id的查询博客所属评论  -->
    <select id="listComment" resultMap="sqlSelectBase">
        <choose>
            <when test="language=='ZH-CN' or language=='EN'">
                SELECT * FROM (SELECT
                id,seq,blog_id,user_name,content,roof_placement,audit,create_time,update_time
                FROM `t_comment` WHERE roof_placement='0' and audit='1' AND blog_id=#{blogId} ORDER BY seq ASC limit
                10000000000000000000) a union
                SELECT * FROM (SELECT
                id,seq,blog_id,user_name,content,roof_placement,audit,create_time,update_time
                FROM `t_comment` WHERE roof_placement='1' and audit='1' AND blog_id=#{blogId} ORDER BY create_time DESC
                limit
                10000000000000000000) b
            </when>
            <otherwise>
                select c.*,b.title from t_comment c INNER JOIN t_blog b on b.id=c.blog_id
                where 1=1
                <if test="roofPlacement!=null and roofPlacement!=''">
                    and c.roof_placement=#{roofPlacement}
                </if>
                <if test="audit!=null and audit!=''">
                    and c.audit=#{audit}
                </if>
                <if test="id!=null and id!=''">
                    and c.blog_id=#{id}
                </if>
                ORDER BY blog_id,roof_placement,seq,create_time DESC
            </otherwise>
        </choose>
    </select>

    <!-- 添加评论   -->
    <insert id="insertComment">
        insert into t_comment(blog_id,user_name,content,create_time,update_time) values (#{blogId},#{userName},#{content}
        ,now(),now())
    </insert>


    <select id="queryCommentCount" resultType="CommentDO">
    SELECT blog_id AS blogId ,count(blog_id) AS count FROM t_comment  GROUP BY blog_id
    </select>

    <!-- 修改评论 -->
    <update id="updateComment">
        UPDATE t_comment
        <trim prefix="set" suffixOverrides="," suffix="WHERE id=#{id}">
            <if test="seq !=null ">seq=#{seq},</if>
            <if test="blogId !=null ">blog_id=#{blogId},</if>
            <if test="userName !=null ">user_name=#{userName},</if>
            <if test="content !=null ">content=#{content},</if>
            <if test="roofPlacement !=null ">roof_placement=#{roofPlacement},</if>
            <if test="audit !=null ">audit=#{audit},</if>
            <if test="updateTime !=null ">update_time=now(),</if>
        </trim>
    </update>


    <!-- 修改序号-->
    <update id="updateAllSeq" parameterType="hashmap">
        update t_comment set
        <if test="oldSeq lt newSeq">
            seq = seq+1 where seq &gt; #{oldSeq} and seq>= #{newSeq}
        </if>
        <if test="oldSeq gt newSeq">
            seq = seq+1 where seq &gt;= #{newSeq} and seq &lt;=#{oldSeq}
        </if>
        and roof_placement='0' and blog_id=#{blogId}
    </update>

    <select id="getCommentById" resultMap="sqlSelectBase">
        select * from  t_comment where id=#{id}
    </select>
    <delete id="delCommentByBlogId">
        DELETE FROM t_comment WHERE blog_id=#{blogId}
    </delete>
</mapper>
